<h3>{{ leyenda }}</h3>
<div class="input-group">
  <span class="input-group-bt">
    <button (click)="cambiarValor(-5)" class="btn btn-primary" type="button">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <input
    #txtProgress
    [(ngModel)]="progreso"
    (ngModelChange)="onChange($event)"
    name="progreso"
    type="number"
    class="form-control"
    max="100"
    min="1"
  />
  <span class="input-group-bt">
    <button (click)="cambiarValor(+5)" class="btn btn-primary" type="button">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
</div>
